.rectangulo {
    fill: rgba(74, 197, 26);
    stroke-width: 3;
    stroke: rgb(26, 66, 197);
}

.cuadrado {
    fill: darkgoldenrod;
    stroke: plum;
    stroke-width: 7;
    fill-opacity: 0.2;
    stroke-opacity: 0.8;
}

.lineas, .lineas2, .lineas3 {
    border: 1px solid black;
}

.lineas line {
    stroke-width: 1;
    stroke: red;
}

.lineas2 line {
    border: 1px solid black;
    stroke: coral;
    stroke-width: 2;
}

.lineas3 circle {
    stroke: coral;
    stroke-width: 1;
    fill: none;
}

